.details-page {
    width: 600px;
    margin: 25px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
}
.details-image img {
    width: 100%;
    border-radius: 5px;
}
.name,
.description {
    text-align: center;
}
.price-rating {
    display: flex;
    justify-content: space-between;
}
.details-btn {
    width: 100%;
    margin-bottom: 10px;
    background:  black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 12px 0;
    font-weight: 700;
    letter-spacing: 1px;
}
.details-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: lightgray;
    border-radius: 5px;
    padding: 2.5px;
}
.details-btn:hover {
    background-color: rgb(222, 222, 222);
    border: 2px solid black;
    padding: 10px 0;
    color: black;
}
.display-none {
    display: none !important;
}
@media (max-width:700px) {
    .details-page {
        width: calc(96% - 50px);
    }
}